{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="Title">Ahmed Abunada's</br>Openai Demonstration</div>
<div class="Mainbutton-container">
    <button class="Mainbutton" onclick="window.location.href = '{%  url 'main:sentiment_page' %}'"><img src="{% static 'img/sentiment.png' %}"></br>Sentiment Analysis</button>
    <button class="Mainbutton" onclick="window.location.href = '{%  url 'main:keywords_page' %}'"><img src="{% static 'img/keyword.png' %}"></br>Keyword Extraction</button>
    <button class="Mainbutton" onclick="window.location.href = '{%  url 'main:summary_page' %}'"><img src="{% static 'img/summary.png' %}"></br>Text Summary</button>
</div>
{% endblock %}