body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

#chat-container {
    width: 750px;
    min-height: 600px; /* Minimum height */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#chat-messages {
    flex: 1;
    overflow-y: auto;
    max-height: 500px;
    padding: 20px;
}

.message-row{
    width: 100%;
}

.right{
    text-align: right;
}

.message {
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    max-width: 70%;
    display: inline-block;
}

.positiveMessage{
    background-color: #007BFF !important;
    color: #fff !important;
}
.negativeMessage{
    background-color: #FF2511 !important;
    color: #fff !important;
}

.user-message {
    background-color: #28a745;
    color: #fff;
    align-self: flex-end;
    border-bottom-right-radius: 0;
    text-align: left; /* Align text to the left */
    margin-left: auto; /* Align message box to the right */
    white-space: pre-wrap; /* Wrap long text */
}

.other-person-message {
    background-color: #f2f2f2; /* Gray background */
    color: #000; /* Black text */
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

#input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}

#message-input {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.5;
    transform: translate3d(0, -4px, 0);
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
    padding-top: 5px;
}

.bouncing-loader > div {
  width: 8px;
  height: 8px;
  margin: 2px;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.4s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.Mainbutton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mainbutton {
    min-width: 450px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 40px 80px;
    font-size: 32px;
    margin: 0 20px;
    cursor: pointer;
    font-weight: bolder;
    transition: transform 0.3s;
    text-align: center;
}

.Mainbutton:hover {
    transform: scale(1.1);
}

.Mainbutton img{
    width: 100px;
    margin-bottom: 25px;
}

.Title{
    position: absolute;
    font-size: 72px;
    font-weight: bolder;
    text-align: center;
    top: 100px;
}